@page "/banner-home"

@inject BannerServices _bannerServices

<link href="css/introduces.css" rel="stylesheet" />

@rendermode InteractiveServer

<div class="page-body">
    <!-- All User Table Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="title-header option-title">
                            <h5>Quản lý Banner</h5>
                            <form class="d-inline-flex">
                            @*     <a href="add-new-category.html"
                                   class="align-items-center btn btn-theme d-flex">
                                    <i data-feather="plus-square"></i>Thêm banner
                                </a> *@
                                @if (ShowLoadingButton)
                                {
                                    <ButtonLoad></ButtonLoad>
                                }
                                else
                                {
                                    <a href="add-new-category.html"
                                       class="align-items-center btn btn-theme d-flex">
                                        <i data-feather="plus-square"></i>Thêm banner
                                    </a>
                                }
                            </form>
                        </div>
                        <div class="icon-box icon-box-side icon-box-light d-flex align-items-center justify-content-between mb-5">
                            <div class="icon-box-content">
                                <select class="js-example-basic-single w-100 sort_categories search_input cursor" name="state" @onchange="OnPositionChanged">
                                    <option value="">Tất cả</option>
                                    <option value="0">Top</option>
                                    <option value="1">Right</option>
                                    <option value="2">Left</option>
                                    <option value="3">Bottom</option>
                                </select>
                            </div>
                        </div>
                        <div class="table-responsive category-table">
                            <div>
                                <table class="table all-package theme-table" id="table_id">
                                    <thead>
                                        <tr>
                                            <th>Tiêu đề</th>
                                            <th>Ngày</th>
                                            <th>Ảnh nền</th>
                                            <th>Ảnh</th>
                                            <th>Danh mục</th>
                                            <th>Trang thái</th>
                                            <th>Mô tả</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @if (isLoading)
                                        {
                                            <tr>
                                                <td colspan="7">
                                                    <div class="loading-container">
                                                        <div class="loading"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                        else if (listBanner != null && listBanner.Any())
                                        {
                                            @foreach (var item in listBanner)
                                            {

                                                <tr>
                                                    <td class="@(item.Status ? "" : "table_row_disabled")">@item.Title</td>

                                                    <td class="@(item.Status ? "" : "table_row_disabled")">@item.CreatedAt.ToString("dd-MM-yyyy")</td>

                                                    <td class="@(item.Status ? "" : "table_row_disabled")">
                                                        <div class="table-image">
                                                            <img src="@(string.IsNullOrEmpty(item.filePath) ? "/img_dev/banner.png" : item.filePath)" class="img-fluid"
                                                                 alt="image" onerror="this.onerror=null;this.src='/Img_Dev/banner.png';">
                                                        </div>
                                                    </td>

                                                    <td class="@(item.Status ? "" : "table_row_disabled")">
                                                        <div class="table-image">
                                                            <img src="@(string.IsNullOrEmpty(item.SecondFilePath) ? "/img_dev/banner.png" : item.SecondFilePath)" class="img-fluid"
                                                                 alt="image" onerror="this.onerror=null;this.src='/Img_Dev/banner.png';">
                                                        </div>
                                                    </td>
                                                    <td class="@(item.Status ? "" : "table_row_disabled")">
                                                        @(((int)item.Position) == 0 ? "Top" :
                                                            ((int)item.Position) == 1 ? "Right" :
                                                            ((int)item.Position) == 2 ? "Left" :
                                                            ((int)item.Position) == 3 ? "Bottom" : "Unknown")
                                                    </td>

                                                    @if (item.Status == true)
                                                    {
                                                        <td>
                                                            <label class="switch">
                                                                <input type="checkbox" checked @onchange="@((ChangeEventArgs e) => UpdateStatus(item.Id, false))">
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            <label class="switch">
                                                                <input type="checkbox" @onchange="@((ChangeEventArgs e) => UpdateStatus(item.Id, true))">
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </td>
                                                    }

                                                    <td class="@(item.Status ? "" : "table_row_disabled")">@item.Desc</td>

                                                    <td>
                                                        <ul>
                                                            <li>
                                                                <a href="javascript:void(0)" @onclick="() => GetBannerByid(item.Id)">
                                                                    <i class="ri-pencil-line"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="javascript:void(0)" data-bs-toggle="modal"
                                                                   data-bs-target="#exampleModalToggle" @onclick="() => DeleteBanner(item.Id)">
                                                                    <i class="ri-delete-bin-line"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="7">
                                                    <div class="d-flex justify-content-center">
                                                        <img src="img_dev/datanull.png" class="img-fluid" alt="Image" />
                                                    </div>
                                                    <span>Không có bài viết nào !</span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private IEnumerable<BannerDto> listBanner;

    private bool isLoading = true;
    public bool ShowLoadingButton { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadListBanner();
    }

    private async Task LoadListBanner(BannerPosition? position = null)
    {
        isLoading = true;
        var response = await _bannerServices.GetAllBannerPositionAsync(position);

        if (response != null && response.Success)
        {
            listBanner = response.Data;
        }

        await Task.Delay(1000);
        isLoading = false;
    }
    private async Task OnPositionChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int position))
        {
            await LoadListBanner((BannerPosition)position);
        }
        else
        {
            await LoadListBanner(null);
        }
    }

    private async Task UpdateStatus(Guid id, bool status)

    {
        bool isSuccess = await _bannerServices.UpdateBannerStatusAsync(id, status);

        if (isSuccess)
        {
            await LoadListBanner();
        }
    }

    private async Task DeleteBanner(Guid id)
    {
        bool isDeleted = await _bannerServices.DeleteBannerAsync(id);

        if (isDeleted)
        {
            await LoadListBanner();
        }
    }

    private async Task GetBannerByid(Guid id)
    {
        NavigationManager.NavigateTo($"/cap-nhat-banner/{id}", forceLoad: true);
    }
}
