@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILocalStorageService LocalStorage

@inject BaseServices BaseServices
@inject CartServices CartServices

<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
                <p class="welcome-msg">Welcome to Wolmart Store message or remove it!</p>
            </div>
            <div class="header-right">
                <div id="google_translate_element"></div>
                <div class="btn_language">
                    <div class="active_flag">
                        <button class="d-lg-show btn_language_item">
                            <img src="/img_dev/us.png" />
                        </button>
                    </div>
                    <div>
                        <button class="d-lg-show btn_language_item active_flag" style="object-fit: contain;opacity: 0.3">
                            <img src="/img_dev/vi.png" />
                        </button>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#language">
                        <i class="w-icon-account"></i> Tài khoản
                    </a>
                    <div class="dropdown-box">
                        <AuthorizeView>
                            <Authorized>
                                <a onclick="window.location.href='/account/thong-tin-ca-nhan';" class="cursor">
                                    Profile
                                </a>
                                <button class="cursor" @onclick="Logout">
                                    Đăng Xuất
                                </button>

                            </Authorized>
                            <NotAuthorized>
                                <a onclick="window.location.href='/account/dang-nhap';" class="cursor">
                                    Đăng Nhập
                                </a>
                                <a onclick="window.location.href='/account/dang-ky';" class="cursor">
                                    Đăng Ký
                                </a>
                                <a onclick="window.location.href='/account/thong-tin-ca-nhan';" class="cursor">
                                    Profile
                                </a>
                            </NotAuthorized>
                        </AuthorizeView>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End of Header Top -->

    <div class="header-middle">
        <div class="container">
            <div class="header-left mr-md-4">
                <a href="#" class="mobile-menu-toggle w-icon-hamburger">
                </a>
                <a onclick="window.location.href='/';" class="logo ml-lg-0 cursor">
                    <img src="img_dev/image/logo/logo.svg" alt="logo" width="144" height="45" />
                </a>
                <form @onsubmit="HandleSearch" class="input-wrapper header-search hs-expanded hs-round d-none d-md-flex">
                    <input @bind="keyword" type="text" class="form-control input_item" placeholder="Tìm kiếm sản phẩm..." required />
                    <button class="btn btn-search" type="submit">
                        <i class="w-icon-search"></i>
                    </button>
                </form>


            </div>
            <div class="header-right ml-4">
                <div class="header-call d-xs-show d-lg-flex align-items-center">
                    <a href="tel:#" class="w-icon-call"></a>
                    <div class="call-info d-lg-show">
                        <h4 class="chat font-weight-normal font-size-md text-normal ls-normal text-light mb-0">
                            <a href="mailto:#" class="text-capitalize">Điện thoại</a>:
                        </h4>
                        <a href="tel:#" class="phone-number font-weight-bolder ls-50">0(800)123-456</a>
                    </div>
                </div>
                <div class="cart-dropdown cart-offcanvas mr-0 mr-lg-2">
                    <a onclick="window.location.href='/gio-hang';" class="label-down py-0 position-relative cursor">
                        <i class="w-icon-cart">
                            <span class="cart-count">2</span>
                        </i>
                        <span class="cart-label">Giỏ Hàng</span>
                    </a>
                    <!-- End of Dropdown Box -->
                </div>
            </div>
        </div>
    </div>
    <!-- End of Header Middle -->

    <div class="header-bottom sticky-content fix-top sticky-header">
        <div class="container">
            <div class="inner-wrap">
                <div class="header-left">
                    <nav class="main-nav ml-0">
                        <ul class="menu">
                            <li class="">
                                <a class="cursor" onclick="window.location.href='/';">Trang Chủ</a>
                            </li>
                            <li>
                                <a class="cursor" onclick="window.location.href='/san-pham';">Sản phẩm</a>
                                <ul class="submenu_item_custom">
                                    @if (cateProducts != null && cateProducts.Any())
                                    {
                                        @foreach (var item in cateProducts)
                                        {
                                            @if(item.Status == true)
                                            {
                                                <li>
                                                    <a class="cursor" onclick="window.location.href='/san-pham/?c1=@item.Id';">
                                                        <img src="@(string.IsNullOrEmpty(item.FilePath) ? "/Img_Dev/default.png" : item.FilePath)" alt="Category Image" />
                                                        <span>@item.Name</span>
                                                    </a>
                                                    @if (item.CategoriesObjs.Any())
                                                    {
                                                        <ul>
                                                            @foreach (var res in item.CategoriesObjs)
                                                            {
                                                                @if(res.Status == true)
                                                                {
                                                                    <li>
                                                                        <a class="cursor" onclick="window.location.href='/san-pham?c2=@res.Id';">@res.Name</a>
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                    }

                                                </li>
                                            }
                                           
                                        }
                                    }

                                </ul>
                            </li>
                            <li>
                                <a class="cursor" onclick="window.location.href='/gioi-thieu';">Giới Thiệu</a>
                                <ul>
                                    @if (cateIntroduces != null && cateIntroduces.Any())
                                    {
                                        @foreach (var item in cateIntroduces)
                                        {
                                            @if (item.Status == true)
                                            {
                                                <li>
                                                    <a class="cursor" onclick="window.location.href='/gioi-thieu?c=@item.Id';">@item.Name</a>
                                                </li>
                                            }
                                        }
                                    }

                                </ul>
                            </li>
                            <li>
                                <a class="cursor" onclick="window.location.href='/lien-he';">Liên hệ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header-right">
                    <a onclick="window.location.href='#productHot';" class="d-xl-show cursor">
                        <span class="lightning-icon">
                            ⚡
                        </span>Sản phẩm Hot
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="sticky-footer sticky-content fix-bottom">
    <a onclick="window.location.href='/';" class="sticky-link active cursor">
        <i class="w-icon-home"></i>
        <p>Tran chủ</p>
    </a>
    <a onclick="window.location.href='/san-pham';" class="sticky-link cursor">
        <i class="w-icon-category"></i>
        <p>Sản phẩm</p>
    </a>
    <a href="my-account.html" class="sticky-link">
        <i class="w-icon-account"></i>
        <p>Thông tin</p>
    </a>

    <div class="header-search hs-toggle dir-up">
        <a href="#" class="search-toggle sticky-link">
            <i class="w-icon-search"></i>
            <p>Tìm kiếm</p>
        </a>
        <form action="#" class="input-wrapper">
            <input type="text" class="form-control" name="search" autocomplete="off" placeholder="Search"
                   required />
            <button class="btn btn-search" type="submit">
                <i class="w-icon-search"></i>
            </button>
        </form>
    </div>
</div>
<!-- End of Sticky Footer -->
<!-- Start of Scroll Top -->
<a id="scroll-top" href="#top" title="Top" role="button" class="scroll-top"><i class="fas fa-chevron-up"></i></a>
<!-- End of Scroll Top -->
<!-- Start of Mobile Menu -->
<div class="mobile-menu-wrapper">
    <div class="mobile-menu-overlay"></div>
    <!-- End of .mobile-menu-overlay -->

    <a href="#" class="mobile-menu-close"><i class="close-icon"></i></a>
    <!-- End of .mobile-menu-close -->

    <div class="mobile-menu-container scrollable">
        <form action="#" method="get" class="input-wrapper">
            <input type="text" class="form-control" name="search" autocomplete="off" placeholder="Search"
                   required />
            <button class="btn btn-search" type="submit">
                <i class="w-icon-search"></i>
            </button>
        </form>
        <!-- End of Search Form -->
        <div class="tab">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a href="#main-menu" class="nav-link active">Menu</a>
                </li>
                <li class="nav-item">
                    <a href="#categories" class="nav-link">Danh Mục</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="main-menu">
                <ul class="mobile-menu">
                    <li><a href="/">Trang Chủ</a></li>
                    <li>
                        <a href="/san-pham">Sản phẩm</a>
                        <ul>
                            @if (cateProducts != null && cateProducts.Any())
                            {
                                @foreach (var item in cateProducts)
                                {
                                    <li>
                                        <a href="/san-pham/?c1=@item.Id">@item.Name</a>
                                        @if (item.CategoriesObjs.Any())
                                        {
                                            <ul>
                                                @foreach (var res in item.CategoriesObjs)
                                                {
                                                    <li><a href="/san-pham?c2=@res.Id">@res.Name</a></li>
                                                }
                                            </ul>
                                        }

                                    </li>
                                }
                            }

                        </ul>
                    </li>
                    <li>
                        <a href="/gioi-thieu">Giới thiệu</a>
                        <ul>
                            @if (cateIntroduces != null && cateIntroduces.Any())
                            {
                                @foreach (var item in cateIntroduces)
                                {
                                    <li><a href="/gioi-thieu?c=@item.Id">@item.Name</a></li>

                                }
                            }
                        </ul>
                    </li>
                    <li>
                        <a href="/lien-he">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="categories">
                <ul class="mobile-menu">
                    @if (cateProducts != null && cateProducts.Any())
                    {
                        @foreach (var item in cateProducts)
                        {
                            <li>
                                <a href="/san-pham/?c1=@item.Id">
                                    @item.Name
                                </a>
                                <ul>
                                    @if (item.CategoriesObjs.Any())
                                    {
                                        @foreach (var res in item.CategoriesObjs)
                                        {
                                            <li>
                                                <a href="/san-pham/?c2=@res.Id">@res.Name</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    }

                </ul>
            </div>
        </div>
    </div>
</div>

@code
{
    private IEnumerable<CateProductDto> cateProducts;
    private IEnumerable<CategoryIntroduceDto> cateIntroduces;

    private string? keyword = null;
    private int currentPage = 1;
    private int pageSize = 10;

    protected override async Task OnInitializedAsync()
    {
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        cateProducts = await BaseServices.GetAllCategoryProducts();
        cateIntroduces = await BaseServices.GetAllCategoryIntroduces();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Gọi để lấy trạng thái xác thực
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            // Cập nhật trạng thái UI của bạn nếu cần thiết
            StateHasChanged(); // Gọi lại để cập nhật UI
        }
    }
    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("authToken");

        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("/account/dang-nhap", forceLoad: true);
    }
    private void HandleSearch()
    {
        if (!string.IsNullOrEmpty(keyword))
        {
            NavigationManager.NavigateTo($"/san-pham?keyword={Uri.EscapeDataString(keyword)}&pageNumber={currentPage}&pageSize={pageSize}", forceLoad: true);
        }
    }
}