@page "/lien-he"

@inject ContactServices ContactServices
@inject ILocalStorageService LocalStorage
@rendermode InteractiveServer

<link href="css/contact.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="assets/css/style.min.css">


<main class="main">
    <!-- Start of Breadcrumb -->
    <nav class="breadcrumb-nav mb-10 pb-1">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li>Liên hệ</li>
            </ul>
        </div>
    </nav>
    <!-- End of Breadcrumb -->
    <!-- Start of PageContent -->
    <div class="page-content contact-us">
        <div class="container">
            <section class="content-title-section mb-10">
                <h3 class="title title-center mb-3">
                    Thông tin liên hệ
                </h3>
                @* 
                <p class="text-center">
                    Lorem ipsum dolor sit amet,
                    consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut
                </p> *@
            </section>
            <!-- End of Contact Title Section -->

            <section class="contact-information-section mb-10">
                <div class="row owl-carousel owl-theme cols-xl-4 cols-md-3 cols-sm-2 cols-1" data-owl-options="{
                        'items': 4,
                        'nav': false,
                        'dots': false,
                        'loop': false,
                        'margin': 20,
                        'responsive': {
                            '0': {
                                'items': 1
                            },
                            '480': {
                                'items': 2
                            },
                            '768': {
                                'items': 3
                            },
                            '992': {
                                'items': 4
                            }
                        }
                    }">
                    <div class="icon-box text-center icon-box-primary">
                        <span class="icon-box-icon icon-email">
                            <i class="w-icon-envelop-closed"></i>
                        </span>
                        <div class="icon-box-content">
                            <h4 class="icon-box-title">E-mail Address</h4>
                            <p>mail@example.com</p>
                        </div>
                    </div>
                    <div class="icon-box text-center icon-box-primary">
                        <span class="icon-box-icon icon-headphone">
                            <i class="w-icon-headphone"></i>
                        </span>
                        <div class="icon-box-content">
                            <h4 class="icon-box-title">Phone Number</h4>
                            <p>(123) 456-7890 / (123) 456-9870</p>
                        </div>
                    </div>
                    <div class="icon-box text-center icon-box-primary">
                        <span class="icon-box-icon icon-map-marker">
                            <i class="w-icon-map-marker"></i>
                        </span>
                        <div class="icon-box-content">
                            <h4 class="icon-box-title">Address</h4>
                            <p>Lawrence, NY 11345, USA</p>
                        </div>
                    </div>
                    <div class="icon-box text-center icon-box-primary">
                        <span class="icon-box-icon icon-fax">
                            <i class="w-icon-fax"></i>
                        </span>
                        <div class="icon-box-content">
                            <h4 class="icon-box-title">Fax</h4>
                            <p>1-800-570-7777</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End of Contact Information section -->

            <hr class="divider mb-10 pb-1">

            <section class="contact-section">
                <div class="row gutter-lg pb-3">
                    <div class="col-lg-6 mb-8">
                        <h4 class="title mb-3">Liên hệ với chúng tôi</h4>
                        @if (isSuccess)
                        {
                            <div class="succes_item">
                                <div class="success-container">
                                    <div class="checkmark">✔</div>
                                    <h2>Cảm ơn bạn đã liên hệ!</h2>
                                    <p>Chúng tôi đã nhận được thông tin của bạn và sẽ sớm liên lạc lại.</p>
                                    <button onclick="window.location.href='/';">Quay lại trang chủ</button>
                                </div>

                            </div>
                        }
                        else
                        {
                            <EditForm Model="@contact" OnValidSubmit="HandleSubmit" class="form contact-us-form">
                                <DataAnnotationsValidator />
                                <div class="form-group">
                                    <ValidationMessage class="text-danger" For="@(() => contact.Name)" />
                                    <label>Họ và tên</label>
                                    <InputText @bind-Value="contact.Name" type="text" id="username" name="username"
                                    class="form-control" />
                                </div>
                                <div class="form-group">
                                    <ValidationMessage class="text-danger" For="@(() => contact.Email)" />
                                    <label>Địa chỉ Email</label>
                                    <InputText @bind-Value="contact.Email" type="email" id="email_1" name="email_1"
                                    class="form-control" />
                                </div>
                                <div class="form-group">
                                    <ValidationMessage class="text-danger" For="@(() => contact.PhoneNumber)" />
                                    <label>Số điện thoại</label>
                                    <InputText @bind-Value="contact.PhoneNumber"
                                    class="form-control" />
                                </div>
                                <div class="form-group">
                                    <ValidationMessage class="text-danger" For="@(() => contact.Message)" />
                                    <label>Nội dung</label>
                                    <InputTextArea @bind-Value="contact.Message" id="message" name="message" cols="30" rows="5"
                                    class="form-control"></InputTextArea>
                                </div>
                                <button type="submit" class="btn btn-dark btn-rounded">Gửi</button>
                            </EditForm>
                            @if (isError)
                            {
                                <div class="alert alert-danger">@errorMessage</div>
                            }
                        }
                    </div>
                    <div class="google-map contact-google-map col-lg-6 mb-8" id="googlemaps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7836.841642343006!2d106.74907189053008!3d10.855562807192118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752790f9e63781%3A0x9b530205de0bd8c1!2zTGluaCBUw6J5LCBUaOG7pyDEkOG7qWMsIEhvIENoaSBNaW5oIENpdHksIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1724657747088!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

            </section>

        </div>


    </div>
    <!-- End of PageContent -->
</main>

@code {
    private CreateContactDto contact = new CreateContactDto();
    private bool isSuccess = false;
    private bool isError = false;
    private string errorMessage = "";


    private async Task HandleSubmit()
    {
        isSuccess = false;
        isError = false;

        var result = await ContactServices.CreateContactAsync(contact);
        if (result)
        {
            isSuccess = true;
            contact.Name = "";
            contact.Email = "";
            contact.PhoneNumber = "";
            contact.Message = "";
            errorMessage = "Gửi thành công!";
        }
        else
        {
            isError = false;
            errorMessage = "Không thể gửi biểu mẫu. Vui lòng thử lại.";
        }
    }
}