@page "/account/thong-tin-ca-nhan"

@inject ILocalStorageService LocalStorage

@inject AddressServices AddressServices
@inject AddressServices AddressServices
@inject OrderServices OrderServices
@inject AccountServices AccountServices

<link href="css/cart.css" rel="stylesheet" />
<link href="css/profile.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="assets/css/style.min.css">


@rendermode InteractiveServer

<main class="main">
    <!-- Start of Page Header -->
    <div class="page-header">
        <div class="container">
            <h1 class="page-title mb-0">Thông tin cá nhân</h1>
        </div>
    </div>
    <!-- End of Page Header -->
    <!-- Start of Breadcrumb -->
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="demo1.html">Trang chủ</a></li>
                <li>Thông tin cá nhân</li>
            </ul>
        </div>
    </nav>
    <!-- End of Breadcrumb -->
    <!-- Start of PageContent -->
    <div class="page-content pt-2">
        <div class="container">
            <div class="tab tab-vertical row gutter-lg">
                <ul class="nav nav-tabs mb-6" role="tablist">
                    <li class="nav-item">
                        <a href="#account-dashboard" class="nav-link active" style="border: unset;border-bottom: 1px solid #eee !important;">Tổng quan</a>
                    </li>
                    <li class="nav-item">
                        <a href="#account-orders" class="nav-link" style="border: unset;border-bottom: 1px solid #eee !important;">Đơn hàng</a>
                    </li>
                    <li class="nav-item">
                        <a href="#account-addresses" class="nav-link" style="border: unset;border-bottom: 1px solid #eee !important;">Địa chỉ</a>
                    </li>
                    <li class="nav-item">
                        <a href="#account-details" class="nav-link" style="border: unset;border-bottom: 1px solid #eee !important;">Thông tin người dùng</a>
                    </li>
                    <li class="link-item">
                        <a href="/dang-nhap" style="border: unset;border-bottom: 1px solid #eee !important;">Đăng xuất</a>
                    </li>
                </ul>

                <div class="tab-content mb-6">
                    <div class="tab-pane active in" id="account-dashboard">
                        <p class="greeting">
                            Xin chào
                            <span class="text-dark font-weight-bold">Văn Nguyên</span>
                            (không phải
                            <span class="text-dark font-weight-bold">Văn Nguyên</span>?
                            <a href="#" class="text-primary">Đăng xuất</a>)
                        </p>

                        <p class="mb-4">

                            Từ bảng điều khiển tài khoản của bạn, bạn có thể xem <a href="#account-orders"
                                                                                    class="text-primary link-to-tab">đơn đặt hàng gần đây</a>,
                            quản lý <a href="#account-addresses" class="text-primary link-to-tab">
                                địa chỉ giao hàng
                            </a>, và
                            <a href="#account-details" class="text-primary link-to-tab">
                                chỉnh sửa mật khẩu và chi tiết tài khoản của bạn.
                            </a>
                        </p>

                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mb-4">
                                <a href="#account-orders" class="link-to-tab">
                                    <div class="icon-box text-center">
                                        <span class="icon-box-icon icon-orders">
                                            <i class="w-icon-orders"></i>
                                        </span>
                                        <div class="icon-box-content">
                                            <p class="text-uppercase mb-0">Đơn hàng</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mb-4">
                                <a href="#account-addresses" class="link-to-tab">
                                    <div class="icon-box text-center">
                                        <span class="icon-box-icon icon-address">
                                            <i class="w-icon-map-marker"></i>
                                        </span>
                                        <div class="icon-box-content">
                                            <p class="text-uppercase mb-0">Địa chỉ</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mb-4">
                                <a href="#account-details" class="link-to-tab">
                                    <div class="icon-box text-center">
                                        <span class="icon-box-icon icon-account">
                                            <i class="w-icon-user"></i>
                                        </span>
                                        <div class="icon-box-content">
                                            <p class="text-uppercase mb-0">Thông tin người dùng</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mb-4">
                                <a href="/dang-nhap">
                                    <div class="icon-box text-center">
                                        <span class="icon-box-icon icon-logout">
                                            <i class="w-icon-logout"></i>
                                        </span>
                                        <div class="icon-box-content">
                                            <p class="text-uppercase mb-0">Đăng xuất</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane mb-4" id="account-orders">
                        <div class="icon-box icon-box-side icon-box-light d-flex align-items-center justify-content-between">
                            <div class="icon-box-content">
                                <h4 class="icon-box-title text-capitalize ls-normal mb-0">  <i class="w-icon-orders"></i> Đơn hàng</h4>
                            </div>
                            <form @onsubmit="HandleSearch" class="search_box">
                                <input type="text" class="search_input" placeholder="Tìm kiếm đơn hàng..." @bind="keyword">
                                <button type="submit" class="search_button">
                                    <i class="w-icon-search fs-3"></i>
                                </button>
                            </form>
                        </div>

                        <table class="shop-table account-orders-table mb-6">
                            <thead>
                                <tr>
                                    <th class="order-id">Mã đơn</th>
                                    <th class="order-date">Ngày</th>
                                    <th class="order-status">Trạng thái</th>
                                    <th class="order-total">Giá Tổng</th>
                                    <th class="order-actions">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (orders != null && orders.Any())
                                {
                                    @foreach (var item in orders)
                                    {
                                        <tr>
                                            <td class="order-id">#@item.OrderCode</td>
                                            <td class="order-date">@item.OrderDate.ToString("dd-MM-yyyy")</td>
                                            @if (item.OrderStatus == false)
                                            {
                                                <td class="order-status">Chờ xử lý <i class="fas fa-circle text-warning fs-6"></i></td>
                                            }
                                            else
                                            {
                                                <td class="order-status">Đang vận chuyển <i class="fas fa-circle text-success fs-6"></i></td>
                                            }
                                            <td class="order-total">
                                                <span class="order-price">@item.TotalAmount.ToString("N0")  <span class="currency-symbol text-danger">đ</span></span>
                                            </td>
                                            <td class="order-action">
                                                <a onclick="window.location.href='/order-view/@item.Id'"
                                                   class="btn btn-outline btn-default btn-block btn-sm btn-rounded cursor">Xem</a>
                                            </td>
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>
                        @if (orders == null)
                        {
                            <div class="container">
                                <div class="d-flex justify-content-center">
                                    <img src="img_dev/datanull.jpg" class="img-fluid" alt="Image" />
                                </div>
                            </div>
                        }
                        @if (totalPages > 1)
                        {
                            <ul class="pagination justify-content-center">
                                <li class="prev @(currentPage == 1 ? "disabled" : "")">
                                    <a href="javascript:void(0)" @onclick="PreviousPage" aria-label="Previous" tabindex="-1" aria-disabled="@(currentPage == 1)">
                                        <i class="w-icon-long-arrow-left"></i> Prev
                                    </a>
                                </li>
                                @for (int i = 1; i <= totalPages; i++)
                                {
                                    var pageNumber = i;  // Tạo biến tạm để lưu giá trị của trang hiện tại

                                    <li class="page-item @(pageNumber == currentPage ? "active" : "")">
                                        <a class="page-link" href="javascript:void(0)" @onclick="(() => ChangePage(pageNumber))">@pageNumber</a>
                                    </li>
                                }

                                <li class="next @(currentPage == totalPages ? "disabled" : "")">
                                    <a href="javascript:void(0)" @onclick="NextPage" aria-label="Next">
                                        Next <i class="w-icon-long-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        }
                        <a onclick="window.location.href='/san-pham'" class="btn btn-dark btn-rounded btn-icon-right">
                            Đi tới mua hàng<i class="w-icon-long-arrow-right"></i>
                        </a>
                    </div>

                    <div class="tab-pane" id="account-downloads">
                        <div class="icon-box icon-box-side icon-box-light">
                            <span class="icon-box-icon icon-downloads mr-2">
                                <i class="w-icon-download"></i>
                            </span>
                            <div class="icon-box-content">
                                <h4 class="icon-box-title ls-normal">Downloads</h4>
                            </div>
                        </div>
                        <p class="mb-4">No downloads available yet.</p>
                        <a href="shop-banner-sidebar.html" class="btn btn-dark btn-rounded btn-icon-right">
                            Go
                            Shop<i class="w-icon-long-arrow-right"></i>
                        </a>
                    </div>

                    <div class="tab-pane checkout" id="account-addresses">
                        <div class="">
                            <div class="form-group checkbox-toggle pb-2">
                                <input type="checkbox" class="custom-checkbox" id="shipping-toggle"
                                       name="shipping-toggle">
                                <label for="shipping-toggle">Thêm đia chỉ mới</label>
                            </div>
                            <div class="checkbox-content p-4">
                                <div class="form-group">
                                    <label> Tỉnh *</label>
                                    <div class="select-box">
                                        <select name="country" class="form-control form-control-md" @onchange="OnProvinceChanged">
                                            <option value="default" selected="selected">
                                                Chọn tỉnh
                                            </option>
                                            @if (provinces != null && provinces.Any())
                                            {
                                                @foreach (var item in provinces)
                                                {
                                                    <option value="@item.Code">@item.Name</option>
                                                }
                                            }

                                        </select>
                                    </div>
                                </div>
                                <div class="row gutter-sm">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Thành phố *</label>
                                            <div class="select-box">
                                                <select name="country" class="form-control form-control-md" @onchange="OnDistrictChanged">
                                                    <option value="default" selected="selected">Chọn thành phố</option>
                                                    @if (districts != null && districts.Any())
                                                    {
                                                        @foreach (var item in districts)
                                                        {

                                                            <option value="@item.Code">@item.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Số điện thoại *</label>
                                            <input type="text" @bind="newAddress.PhoneNumber" class="form-control form-control-md" name="number" maxlength="10" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Phường, xã *</label>
                                            <div class="select-box">
                                                <select name="country" class="form-control form-control-md" @bind="newAddress.WardCode">
                                                    <option value="default" selected="selected">Chọn phường, xã</option>
                                                    @if (wards != null && wards.Any())
                                                    {
                                                        @foreach (var item in wards)
                                                        {
                                                            <option value="@item.Code">@item.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Họ và tên *</label>
                                            <input type="text" @bind="newAddress.UserName" class="form-control form-control-md" name="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <label for="order-notes">Địa chỉ cụ thể *</label>
                                    <textarea class="form-control mb-0" id="order-notes" name="order-notes" cols="30"
                                              rows="4"
                                              placeholder="Nhập địa chỉ cụ thể" @bind="@newAddress.StreetAddress"></textarea>
                                </div>

                                <div class="row gutter-sm">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Nơi ở *</label>
                                            <div class="select-box">
                                                <select name="country" class="form-control form-control-md" @bind="newAddress.AddressType">
                                                    <option value="default" selected="selected">--------</option>
                                                    <option value="0">Nhà riêng</option>
                                                    <option value="1">Văn phòng</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn button btn-rounded btn-coupon mb-2" name="apply_coupon" value="Apply coupon" @onclick="SubmitAddress">Thêm địa chỉ</button>
                            </div>
                            <div class="check_box">
                                <div class="checkout_title">
                                    <h4> <i class="fas fa-map-marker-alt me-2"></i> Địa chỉ</h4>
                                    <p>
                                        Các địa chỉ sau sẽ được sử dụng trên trang thanh toán theo mặc định.
                                    </p>
                                </div>

                                <div class="checkout_detail" id="style-1">
                                    <div class="row g-4">
                                        @if (addresses != null && addresses.Any())
                                        {
                                            @foreach (var item in addresses)
                                            {
                                                <div class="col-xxl-6 col-lg-6 col-md-6">
                                                    <div class="delivery_address_box">
                                                        <div class="d-flex position-relative">
                                                            <div class="label" for="@item.Id">
                                                                @if (item.AddressType == 0)
                                                                {
                                                                    <label>Nhà riêng</label>
                                                                }
                                                                else if (item.AddressType == 1)
                                                                {
                                                                    <label>Văn phòng</label>
                                                                }
                                                            </div>
                                                            <ul class="delivery_address_detail d-flex">
                                                                <li>
                                                                    <h4 class="fw-500">
                                                                        @item.UserName
                                                                    </h4>
                                                                </li>
                                                                <li>
                                                                    <p class="text_content">
                                                                        <span class="text_title fw-bold">
                                                                            Đia chỉ
                                                                            :
                                                                        </span>@item.ProvinceName, @item.DistrictName, @item.WardName
                                                                    </p>
                                                                    <p class="text_content no_wrap_2">
                                                                        <span class="text_title fw-bold">
                                                                            Đia chỉ cụ thể
                                                                            :
                                                                        </span>@item.StreetAddress
                                                                    </p>
                                                                </li>
                                                                <li>
                                                                    <h6 class="text_content mb-0">
                                                                        <span class="text_title fw-bold">
                                                                            Số điện thoại
                                                                            :
                                                                        </span> @item.PhoneNumber
                                                                    </h6>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                        <div class="ms-auto mt-1" style="float: right;">
                                                            @*      <a class="btn btn-outline-primary btn-sm me-2 text-success" title="Sửa" style="border: unset; padding: 0.77em 0.4em;">
                                                    <i class="fa fa-pencil-alt"></i>
                                                    </a> *@
                                                            <a class="btn btn-outline-danger btn-sm text-danger" title="Xóa" style="border: unset;padding: 0.77em 0.4em;" @onclick="() => DeleteAddress(item.Id)">
                                                                <i class="fa fa-trash-alt"></i>
                                                            </a>

                                                        </div>
                                                    </div>

                                                </div>
                                            }
                                        }
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="account-details">

                        <div class="icon-box icon-box-side icon-box-light">
                            <span class="icon-box-icon icon-account mr-2">
                                <i class="w-icon-user"></i>
                            </span>
                            <div class="icon-box-content">
                                <h4 class="icon-box-title mb-0 ls-normal">Chi tiết tài khoản</h4>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="profile_container">
                                <img class="profile_image" src="/Img_Dev/avatar.png" alt="image" />
                                <span class="edit_icon">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </div>
                        </div>
                        @if (user != null)
                        {
                            <div class="row account-details-form mt-5">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">First name *</label>
                                        <input @bind="user.FirstName" type="text" id="firstname" name="firstname" disabled
                                               class="form-control form-control-md">
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Last name *</label>
                                        <input @bind="user.LastName" type="text" id="lastname" name="lastname" disabled
                                               class="form-control form-control-md">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">UserName *</label>
                                        <input @bind="user.UserName" type="text" id="lastname" name="lastname" disabled
                                               class="form-control form-control-md">
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Địa chỉ Email *</label>
                                        <input @bind="user.Email" type="email" id="email_1" name="email_1" disabled
                                               class="form-control form-control-md">
                                    </div>
                                </div>
                            </div>


                        }

                        <EditForm Model="passwordModel" OnValidSubmit="HandleValidSubmit" class="form account-details-form mt-5" action="#" method="post">
                            <DataAnnotationsValidator />
                             <ValidationSummary />

                            <h4 class="title title-password ls-25 font-weight-bold">Đổi mật khẩu</h4>
                            <div class="form-group">
                                <label class="text-dark" for="cur-password">Mật khẩu hiện tại để trống để không thay đổi</label>
                                <InputText @bind-Value="passwordModel.CurrentPassword" type="password" class="form-control form-control-md"/>
                            </div>
                            <div class="form-group">
                                <label class="text-dark" for="new-password">Mật khẩu mới để trống để không thay đổi</label>
                                <InputText @bind-Value="passwordModel.NewPassword" type="password" class="form-control form-control-md" />
                            </div>
                            <div class="form-group mb-10">
                                <label class="text-dark" for="conf-password">Xác nhận mật khẩu</label>
                                <InputText @bind-Value="passwordModel.ConfirmPassword" type="password" class="form-control form-control-md" />
                            </div>
                            <button type="submit" class="btn btn-dark btn-rounded btn-sm mb-4">Cập nhật</button>
                        </EditForm>
                        @if (!string.IsNullOrEmpty(message))
                        {
                            <div class="alert alert-info mt-4">@message</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of PageContent -->
</main>

@code {
    private IEnumerable<OrderDto> orders;
    private IEnumerable<AddressDto> addresses;
    private List<Province> provinces = new();
    private List<District> districts = new();
    private List<Ward> wards = new();

    private UserDto user;

    private ChangePasswordDto passwordModel = new ChangePasswordDto();
    private CreateAddressDto newAddress = new CreateAddressDto();
    private UpdateAddressDto selectedAddress = new UpdateAddressDto();

    private string selectedProvinceCode;
    private string selectedDistrictCode;
    private string selectedWardCode;

    private string? keyword = null;
    private int currentPage = 1;
    private int pageSize = 5;
    private int totalPages;
    private int totalCount;

    private bool isRendered = false;
    private Guid selectedAddressId;
    private string message;


    protected override async Task OnInitializedAsync()
    {
        await GetListAddress();
        await GetListProvinces();
    }

    //Address
    private async Task GetListAddress()
    {
        addresses = await AddressServices.GetListAddressAsync();

    }

    private async Task GetListProvinces()
    {
        provinces = await AddressServices.GetAllProvincesAsync();
    }

    private async Task OnProvinceChanged(ChangeEventArgs e)
    {
        selectedProvinceCode = e.Value.ToString();
        districts = await AddressServices.GetAllDistrictsAsync(selectedProvinceCode);
        wards.Clear();
    }

    private async Task OnDistrictChanged(ChangeEventArgs e)
    {
        selectedDistrictCode = e.Value.ToString();
        wards = await AddressServices.GetAllWardsAsync(selectedDistrictCode);
    }

    private async Task SubmitAddress()
    {
        newAddress.ProvinceCode = selectedProvinceCode;
        newAddress.DistrictCode = selectedDistrictCode;

        var result = await AddressServices.CreateAddressAsync(newAddress);

        if (result)
        {
            message = "Địa chỉ đã được tạo thành công";
            await GetListAddress();

            ClearForm();
        }
        else
        {
            message = "Tạo địa chỉ thất bại";
        }
    }

    private void ClearForm()
    {
        newAddress = new CreateAddressDto();
        selectedProvinceCode = string.Empty;
        selectedDistrictCode = string.Empty;
        selectedWardCode = string.Empty;
        districts.Clear();
        wards.Clear();

        StateHasChanged();
    }

    //End Address
    private async Task DeleteAddress(Guid id)
    {
        bool isDeleted = await AddressServices.DeleteAddressAsync(id);

        if (isDeleted)
        {
            message = "Xóa địa chỉ thành công";
            await GetListAddress();
        }
        else
        {
            message = "Xóa địa chỉ thất bại";
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !isRendered)
        {
            isRendered = false; // Đảm bảo LoadListCarts chỉ gọi một lần khi render
            await LoadListOrderUserId();

            await GetUserId();
        }
    }

    private async Task LoadListOrderUserId()
    {
        var userId = await LocalStorage.GetItemAsync<string>("userId");
        if (string.IsNullOrEmpty(userId))
        {
            message = "Vui lòng đăng nhập để mua hàng.";
            return;
        }


        var response = await OrderServices.GetListOrderByUserId(userId, keyword, currentPage, pageSize);

        if (response != null && response.Success)
        {
            orders = response.Data.Orders;
            totalCount = response.Data.TotalCount;
            totalPages = (int)Math.Ceiling((double)totalCount / pageSize);
        }
        else
        {
            orders = new List<OrderDto>();
        }
        StateHasChanged();
    }

    private async Task ChangePage(int page)
    {
        // Chỉ cập nhật nếu page khác currentPage
        if (page != currentPage)
        {
            currentPage = page;
            await UpdateUrlAndLoadProducts();
        }
    }

    private async Task PreviousPage()
    {
        if (currentPage > 1)
        {
            currentPage--;
            await UpdateUrlAndLoadProducts();
        }
    }

    private async Task NextPage()
    {
        if (currentPage < totalPages)
        {
            currentPage++;
            await UpdateUrlAndLoadProducts();
        }
    }

    private async Task HandleSearch()
    {
        currentPage = 1;
        await UpdateUrlAndLoadProducts();

    }

    private async Task UpdateUrlAndLoadProducts()
    {
        // Tạo URL mới với thông tin trang hiện tại, kích thước trang, và giá lọc
        var queryParameters = new Dictionary<string, string>
            {
                ["pageNumber"] = currentPage.ToString(),
                ["pageSize"] = pageSize.ToString()
            };

        if (!string.IsNullOrEmpty(keyword))
        {
            queryParameters["keyword"] = keyword;
        }

        // Tạo URL query string
        var newUrl = QueryHelpers.AddQueryString("account/thong-tin-ca-nhan", queryParameters!);
        NavigationManager.NavigateTo(newUrl, forceLoad: false);

        // Tải lại danh sách sản phẩm
        await LoadListOrderUserId();
    }

    private async Task GetUserId()
    {
        var userId = await LocalStorage.GetItemAsync<string>("userId");
        if (string.IsNullOrEmpty(userId))
        {
            message = "Vui lòng đăng nhập để mua hàng.";
            return;
        }

        var response = await AccountServices.GetUserByIdAsync(userId);

        if (response.Success)
        {
            user = response.Data;
        }
        else
        {
            message = "Không thể lấy thông tin người dùng. Vui lòng thử lại sau.";
        }
        StateHasChanged();
    }

    private async Task HandleValidSubmit()
    {
        var userId = await LocalStorage.GetItemAsync<string>("userId");
        if (string.IsNullOrEmpty(userId))
        {
            message = "Vui lòng đăng nhập để bình luận.";
            return;
        }
        // Tạo đối tượng bình luận
        passwordModel.UserId = userId;

        var response  = await AccountServices.ChangePasswordAsync(passwordModel);
        if (response)
        {
            message = "Thay đổi mật khẩu thành công";
            passwordModel.CurrentPassword = "";
            passwordModel.NewPassword = "";
            passwordModel.ConfirmPassword = "";
        }
        else
        {
            message = "Thay đổi mật khẩu thất bại";
        }
    }

}