@page "/chi-tiet-don-hang/{id:guid}"

@inject OrderServices _orderServices

@rendermode InteractiveServer


@if (order != null)
{
    <div class="page-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="title-header title-header-block package-card">
                                <div>
                                    <h5>Đơn hàng #@order.OrderCode</h5>
                                </div>
                                <div class="card-order-section">
                                    <ul>
                                        <li>@order.OrderDate</li>
                                        <li>@totalCart Sản phẩm</li>
                                        <li>Tông tiền hàng @order.TotalAmount.ToString("N0")  <span class="currency-symbol">đ</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="bg-inner cart-section order-details-table">
                                <div class="row g-4">
                                    <div class="col-xl-8">
                                        <div class="table-responsive table-details">
                                            <table class="table cart-table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th colspan="2">Mặt hàng</th>
                                                        <th class="text-end" colspan="2">
                                                            <a href="javascript:void(0)"
                                                               class="theme-color">
                                                              @*   Edit
                                                                Items *@
                                                            </a>
                                                        </th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @if(order.OrderItems != null && order.OrderItems.Any())
                                                    {
                                                        @foreach (var item in order.OrderItems)
                                                        {

                                                            <tr class="table-order">
                                                                <td>
                                                                    <a href="javascript:void(0)">
                                                                        <img src="@(string.IsNullOrEmpty(item.ImageFilePath) ? "/Img_Dev/banner.png" : item.ImageFilePath)"
                                                                             class="img-fluid blur-up lazyload" alt="order" onerror="this.onerror=null;this.src='/Img_Dev/banner.png';">
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <p>@item.ProductName</p>
                                                                    <h5>@item.CategoryName</h5>
                                                                </td>
                                                                <td>
                                                                    <p>Số lượng</p>
                                                                    <h5>@item.Quantity</h5>
                                                                </td>
                                                                <td>
                                                                    <p>Giá</p>
                                                                    <h5>@((item.Price - item.Discount).ToString("N0")) <span class="currency-symbol text-danger">đ</span></h5>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>

                                                <tfoot>
                                                    <tr class="table-order">
                                                        <td colspan="3">
                                                            <h5>Tổng phụ :</h5>
                                                        </td>
                                                        <td>
                                                            <h4>@((order.Price - order.Discount).ToString("N0")) <span class="currency-symbol text-danger">đ</span></h4>
                                                        </td>
                                                    </tr>

                                                    <tr class="table-order">
                                                        <td colspan="3">
                                                            <h5>Phí vận chuyển :</h5>
                                                        </td>
                                                        <td>
                                                            <h4>@order.ShippingCost</h4>
                                                        </td>
                                                    </tr>
                                                    <tr class="table-order">
                                                        <td colspan="3">
                                                            <h4 class="theme-color fw-bold">Tổng giá :</h4>
                                                        </td>
                                                        <td>
                                                            <h4 class="theme-color fw-bold">@order.TotalAmount.ToString("N0")<span class="currency-symbol text-danger">đ</span> </h4>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="order-success">
                                            <div class="row g-4">
                                                <h4>summery</h4>
                                                <ul class="order-details">
                                                    <li>Order ID: 5563853658932</li>
                                                    <li>Order Date: October 22, 2018</li>
                                                    <li>Order Total: $907.28</li>
                                                </ul>

                                                <h4>shipping address</h4>
                                                <ul class="order-details">
                                                    <li>Gerg Harvell</li>
                                                    <li>568, Suite Ave.</li>
                                                    <li>Austrlia, 235153 Contact No. 48465465465</li>
                                                </ul>

                                                <div class="payment-mode">
                                                    <h4>payment method</h4>
                                                    <p>
                                                        Pay on Delivery (Cash/Card). Cash on delivery (COD)
                                                        available. Card/Net banking acceptance subject to device
                                                        availability.
                                                    </p>
                                                </div>

                                                <div class="delivery-sec">
                                                    <h3>
                                                        expected date of delivery: <span>october 22, 2018</span>
                                                    </h3>
                                                    <a href="order-tracking.html">track order</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@code{
    [Parameter]
    public Guid id { get; set; }

    private OrderDto order;

    private int totalCart;

    protected override async Task OnInitializedAsync()
    {
        await GetOrderById();
    }

    private async Task GetOrderById()
    {
        var response = await _orderServices.GetOrderByIdAsync(id);

        if (response != null && response.Success)
        {
            order = response.Data;
            totalCart = response.Data.OrderItems.Count();
        }
    }

}