@page "/add-introduces"
@inject CateIntroduceServices _cateIntroduceServices
@inject IntroduceServices _introduceServices

<script src="assets/js/ckeditor.js"></script>
<script src="assets/js/ckeditor-custom.js"></script>

@rendermode InteractiveServer

<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-8 m-auto">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header-2">
                                    <h5>Thêm bài viết</h5>
                                </div>

                                <form class="theme-form theme-form-2 mega-form" @onsubmit="HandleSubmit">
                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">
                                            Tên bài viết
                                        </label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" @bind="introduce.Name"
                                                   placeholder="Nhập tên" required>
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">
                                            Danh mục bài viết
                                        </label>
                                        <div class="col-sm-9">
                                            <select class="js-example-basic-single w-100" name="state" @bind="introduce.CategoryId" required>
                                                @if (cateIntroduces != null && cateIntroduces.Any())
                                                {
                                                    <option selected disabled>Chọn danh mục</option>
                                                    @foreach (var item in cateIntroduces)
                                                    {
                                                        @if(item.Status == true)
                                                        {
                                                            <option value="@item.Id">@item.Name</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">Nổi bật</label>
                                        <div class="col-sm-9">
                                            <label class="switch">
                                                <input type="checkbox" @bind="@introduce.IsHot" required />
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">Ảnh</label>
                                        <div class="table-image" style="width: 200px;">
                                            <img src="@imagePreviewUrl" class="img-fluid" alt="image" onerror="this.onerror=null;this.src='/img_dev/datanull.png';">
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="col-3 col-form-label form-label-title">

                                        </label>
                                        <InputFile class="table-image col-5" OnChange="OnFileSelected" accept=".jpg,.jpeg,.png" required />
                                    </div>


                                    <div class="mb-4 row">
                                        <label class="form-label-title col-sm-3 mb-0">
                                            Mô tả
                                        </label>
                                        <div class="col-sm-9">
                                            @* <div @bind="introduce.Description" id="editor"></div> *@
                                            <textarea class="form-control" @bind="introduce.Description" rows="3"></textarea>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary buttonload">Thêm</button>
                                    </div>
                                    @if (!string.IsNullOrEmpty(message))
                                    {
                                        <div class="alert alert-success mt-4">@message</div>
                                    }
                                </form>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    private IEnumerable<CategoryIntroduceDto> cateIntroduces;
    private CreateIntroduceDto introduce = new CreateIntroduceDto();

    private string imagePreviewUrl = "/img_dev/datanull.png";

    private string? keyword = null;
    private int currentPage = 1;
    private int pageSize = 10;

    private IBrowserFile? selectedFile;

    private string message;


    protected override async Task OnInitializedAsync()
    {
        await LoadListCategoriesIntroduces();
    }

    private async Task LoadListCategoriesIntroduces()
    {
        var response = await _cateIntroduceServices.GetAllCategoryPaginationAsync(currentPage, pageSize, keyword);

        if (response != null && response.Success)
        {
            cateIntroduces = response.Data.categories;
        }
    }
    private async Task HandleSubmit()
    {
        var success = await _introduceServices.CreateIntroduceAsync(introduce, selectedFile);
        if (success)
        {
            introduce = new CreateIntroduceDto();
            imagePreviewUrl = "/img_dev/datanull.png";
            message = "Tạo bài viết thành công";
        }
        else
        {
            message = "Tạo bài viết thất bại";
        }
    }

    private async Task OnFileSelected(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;
        var buffer = new byte[selectedFile.Size];
        await selectedFile.OpenReadStream(10485760).ReadAsync(buffer);
        imagePreviewUrl = $"data:{selectedFile.ContentType};base64,{Convert.ToBase64String(buffer)}";
    }
}