@page "/quan-ly-bai-viet"

@inject IntroduceServices _introduceServices
@inject CateIntroduceServices _cateIntroduceServices

<link href="css/introduces.css" rel="stylesheet" />
<link href="css/introduces.css" rel="stylesheet" />
@rendermode InteractiveServer

<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="title-header option-title d-sm-flex d-block">
                            <h5>Danh sách Bài viết</h5>
                            <div class="right-options">
                                <ul>
                                    <li>
                                        <a class="btn btn-solid" onclick="window.location.href='/add-introduces'">Thêm bài viết</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="icon-box icon-box-side icon-box-light d-flex align-items-center justify-content-between mb-5">
                            @* <div class="icon-box-content">
                            <h4 class=""> Tổng bài viết / trang: @totalIntroduces <i class="w-icon-orders"></i></h4>
                            </div> *@
                            <div class="icon-box-content">
                                <select class="js-example-basic-single w-100 sort_categories search_input cursor" @onchange="OnCategoryChanged" name="state" required>
                                    <option class="cursor" value="">Chọn danh mục</option>
                                    @if (cateIntroduces != null && cateIntroduces.Any())
                                    {
                                        @foreach (var item in cateIntroduces)
                                        {
                                            <option class="cursor" value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <form @onsubmit="HandleSearch" class="search_box">
                                <input type="text" class="search_input" placeholder="Tìm kiếm bài viết..." @bind="keyword">
                                <button type="submit" class="search_button">
                                    <i class="fa-solid fa-magnifying-glass fs-6"></i>
                                </button>
                            </form>
                        </div>
                        <div>
                            <div class="table-responsive">
                                <table class="table all-package theme-table table-product" id="table_id">

                                    <thead>
                                        <tr>
                                            <th>Ảnh</th>
                                            <th>Tên bài viết</th>
                                            <th>Danh mục</th>
                                            <th>Nổi bật</th>
                                            <th>Ngày đăng</th>
                                            <th>Trang thái</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @if (listIntroduces != null && listIntroduces.Any())
                                        {
                                            @foreach (var item in listIntroduces)
                                            {
                                                <tr>
                                                    <td class="@(item.Status ? "" : "table_row_disabled")">
                                                        <div class="table-image">
                                                            <img src="@(string.IsNullOrEmpty(item.FilePath) ? "/Img_Dev/banner.png" : item.FilePath)" class="img-fluid"
                                                                 alt="image" onerror="this.onerror=null;this.src='/Img_Dev/banner.png';">
                                                        </div>
                                                    </td>

                                                    <td class="@(item.Status ? "" : "table_row_disabled")no_wrap_1" style="line-height: 60px;">@item.Name</td>

                                                    <td class="@(item.Status ? "" : "table_row_disabled")">@item.CategoryName</td>

                                                    @if (@item.IsHot == true)
                                                    {
                                                        <td class="@(item.Status ? "" : "table_row_disabled")">
                                                            Có
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="@(item.Status ? "" : "table_row_disabled")">
                                                            Không
                                                        </td>
                                                    }


                                                    <td class="@(item.Status ? "" : "table_row_disabled")">@item.CreatedAt.ToString("dd-MM-yyyy")</td>

                                                    @if (item.Status == true)
                                                    {
                                                        <td>
                                                            <label class="switch">
                                                                <input type="checkbox" checked @onchange="@((ChangeEventArgs e) => UpdateStatus(item.id, false))">
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            <label class="switch">
                                                                <input type="checkbox" @onchange="@((ChangeEventArgs e) => UpdateStatus(item.id, true))">
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </td>
                                                    }


                                                    <td>
                                                        <ul>

                                                            <li>
                                                                <a href="javascript:void(0)" @onclick="() => GetIntroductOrUpdate(item.id)">
                                                                    <i class="ri-pencil-line"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="javascript:void(0)" data-bs-toggle="modal"
                                                                   data-bs-target="#exampleModalToggle" @onclick="() => DeleteIntroduce(item.id)">
                                                                    <i class="ri-delete-bin-line"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td class="container">
                                                    <div class="d-flex justify-content-center">
                                                        <img src="img_dev/datanull.png" class="img-fluid" alt="Image" />
                                                    </div>
                                                    <span>Không có bài viết nào !</span>
                                                </td>
                                            </tr>

                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    @if (totalPages > 1)
                    {
                        <nav class="custome-pagination mt-5">
                            <ul class="pagination justify-content-center custom_pagination_ul">
                                <li class="page-item custom_lef @(currentPage == 1 ? "disabled" : "")">
                                    <a class="page-link" href="javascript:void(0)" @onclick="PreviousPage" aria-label="Previous" tabindex="-1" aria-disabled="@(currentPage == 1)">
                                        <i class="fa-solid fa-angles-left"></i>
                                    </a>
                                </li>
                                @for (int i = 1; i <= totalPages; i++)
                                {
                                    var pageNumber = i;

                                    <li class="page-item custom_left_item @(pageNumber == currentPage ? "active" : "")" style="z-index: 0">
                                        <a class="page-link" href="javascript:void(0)" @onclick="(() => ChangePage(pageNumber))">@pageNumber</a>
                                    </li>
                                }

                                <li class="page-item custom_left @(currentPage == totalPages ? "disabled" : "")">
                                    <a class="page-link" href="javascript:void(0)" @onclick="NextPage" aria-label="Next">
                                        <i class="fa-solid fa-angles-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    }
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private IEnumerable<IntroduceDto> listIntroduces;
    private IEnumerable<CategoryIntroduceDto> cateIntroduces;

    private Guid? categoryId = null;
    private string? keyword = null;
    private int currentPage = 1;
    private int pageSize = 10;
    private int totalPages;
    private int totalCount;
    private int totalIntroduces;
    private int? type = null;

    protected override async Task OnInitializedAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var query = QueryHelpers.ParseQuery(uri.Query);

        if (query.TryGetValue("c", out var cId))
        {
            categoryId = string.IsNullOrEmpty(cId) ? (Guid?)null : new Guid(cId);

            var categoryResponse = await _introduceServices.GetListIntroduceByCategoryId(categoryId.Value);
            if (categoryResponse != null && categoryResponse.Success)
            {
                var category = categoryResponse.Data;
            }
        }

        if (query.TryGetValue("pageNumber", out var page))
        {
            int.TryParse(page, out currentPage);
        }

        await LoadListIntroduces();
        await LoadListCategoriesIntroduces();
    }

    private async Task OnCategoryChanged(ChangeEventArgs e)
    {
        var selectedValue = e.Value?.ToString();
        categoryId = string.IsNullOrEmpty(selectedValue) ? (Guid?)null : Guid.Parse(selectedValue);

        currentPage = 1;
        await UpdateUrlAndLoadIntroduces();
    }


    private async Task LoadListIntroduces()
    {
        var response = await _introduceServices.GetListIntroduceTypeAsync(currentPage, pageSize, categoryId, keyword, type);

        if (response != null && response.Success)
        {
            listIntroduces = response.Data.Introduces;
            totalCount = response.Data.TotalCount;
            totalPages = (int)Math.Ceiling((double)totalCount / pageSize);
        }
        else
        {
            listIntroduces = new List<IntroduceDto>();
        }
    }
    private async Task LoadListCategoriesIntroduces()
    {
        var response = await _cateIntroduceServices.GetAllCategoryPaginationAsync(currentPage, pageSize, keyword);

        if (response != null && response.Success)
        {
            cateIntroduces = response.Data.categories;
        }
    }

    private async Task ChangePage(int page)
    {
        if (page != currentPage)
        {
            currentPage = page;
            await UpdateUrlAndLoadIntroduces();
        }
    }

    private async Task PreviousPage()
    {
        if (currentPage > 1)
        {
            currentPage--;
            await UpdateUrlAndLoadIntroduces();
        }
    }

    private async Task NextPage()
    {
        if (currentPage < totalPages)
        {
            currentPage++;
            await UpdateUrlAndLoadIntroduces();
        }
    }

    private async Task OnPageSizeChanged(ChangeEventArgs e)
    {
        pageSize = int.Parse(e.Value.ToString());

        currentPage = 1;
        await UpdateUrlAndLoadIntroduces();
    }

    private async Task HandleSearch()
    {
        currentPage = 1;
        await UpdateUrlAndLoadIntroduces();

    }

    private async Task DeleteIntroduce(Guid id)
    {
        bool isDeleted = await _introduceServices.DeleteIntroduceAsync(id);

        if (isDeleted)
        {
            await LoadListIntroduces();
        }
    }

    private async Task UpdateStatus(Guid id, bool status)
    {
        bool isSuccess = await _introduceServices.UpdateIntroduceStatusAsync(id, status);

        if (isSuccess)
        {
            await LoadListIntroduces();
        }
    }

    private async Task GetIntroductOrUpdate(Guid id)
    {
        NavigationManager.NavigateTo($"/cap-nhat-bai-viet/{id}", forceLoad: true);
    }

    private async Task UpdateUrlAndLoadIntroduces()
    {
        var queryParameters = new Dictionary<string, string>
            {
                ["pageNumber"] = currentPage.ToString(),
                ["pageSize"] = pageSize.ToString()
            };

        if (!string.IsNullOrEmpty(keyword))
        {
            queryParameters["keyword"] = keyword;
        }

        if (categoryId.HasValue)
        {
            queryParameters["c"] = categoryId.Value.ToString();
        }

        var newUrl = QueryHelpers.AddQueryString("quan-ly-bai-viet", queryParameters!);

        NavigationManager.NavigateTo(newUrl, forceLoad: true);

        await LoadListIntroduces();
    }
}