@inject HomeServices HomeServices

@code {
    private IEnumerable<ProductDto> hotProducts;

    protected override async Task OnInitializedAsync()
    {
        await LoadListProductIsHot();
    }

    private async Task LoadListProductIsHot()
    {
        hotProducts = await HomeServices.GetAllProductIsHotAsync();
    }
}

<h2 class="title justify-content-center ls-normal mb-4 mt-10 pt-1 appear-animate">
    Sản Phẩm nổi bật
</h2>
<div class="tab-content product-wrapper appear-animate">
    <div class="tab-pane active pt-4" id="tab1-1">
        <div class="row cols-xl-5 cols-md-4 cols-sm-3 cols-2">
            @if (hotProducts != null && hotProducts.Any())
            {
                @foreach (var item in hotProducts.Take(15))
                {
                    @if (item.Status == true)
                    {
                        <div class="product-wrap">
                            <div class="product text-center img__wrapper">
                                <figure class="product-media spotlight">
                                    <a onclick="window.location.href='/san-pham/@item.NameSlug/@item.Id';" class="cursor">
                                        <img src="@(string.IsNullOrEmpty(item.ImageFilePath) ? "/Img_Dev/banner.png" : item.ImageFilePath)" alt="Product"
                                             width="300" height="338" onerror="this.onerror=null;this.src='/Img_Dev/banner.png';" />
                                    </a>
                                </figure>
                                <img src="http://www.savoy-sharm.com/media-room/images/hi-res/king-bed-room-accommodation-savoy-luxury-5-stars-accommodation-sharm-el-sheikh.jpg" alt="" />
                                @if (item.Discount > 1)
                                {
                                    <a class="sold_out">- @item.Discount.ToString("N0") </a>
                                }
                                <div class="product-details">
                                    <h4 class="product-name"><a onclick="window.location.href='/san-pham/@item.NameSlug/@item.Id';" class="cursor">@item.Name</a></h4>
                                    <div class="ratings-container">
                                        <div class="star-rating">
                                            @for (int i = 0; i < item.Rating; i++)
                                            {
                                                <span class="fa fa-star checked"></span>
                                            }
                                            @for (int i = 0; i < (5 - item.Rating); i++)
                                            {
                                                <span class="fa fa-star"></span>
                                            }

                                        </div>
                                    </div>
                                    @if (item.Discount > 0)
                                    {
                                        <div class="product-price">
                                            <del class="old-price">@item.Price.ToString("N0")  <span class="currency-symbol">đ</span>  </del>
                                            <ins class="new-price text-danger">@((item.Price - item.Discount).ToString("N0")) <span class="currency-symbol">đ</span></ins>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="product-price">
                                            <ins class="new-price text-danger">@((item.Price).ToString("N0")) <span class="currency-symbol">đ</span></ins>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                
                }
            }

        </div>
    </div>
    <div class="row text-center">
        <a onclick="window.location.href='/san-pham?type=3';" class="cursor">Xem thêm</a>
    </div>
</div>