@inject HomeServices HomeServices

@code {
    private IEnumerable<ProductDto> hotProducts;
    private IEnumerable<ProductDto> discountProducts;

    protected override async Task OnInitializedAsync()
    {
        hotProducts = await HomeServices.GetAllProductIsHotAsync();
        discountProducts = await HomeServices.GetAllProductDiscountAsync();
    }
}

<div class="row deals-wrapper appear-animate mb-8">
    <div class="col-lg-9 mb-4">
        <div class="single-product h-100 br-sm">
            <h4 class="title-sm title-underline font-weight-bolder ls-normal">Sản phẩm nổi bật</h4>
            <div class="owl-carousel owl-theme owl-nav-top owl-nav-lg row cols-1 gutter-no"
                 data-owl-options="{
                                'nav': true,
                                'dots': false,
                                'margin': 20,
                                'items': 1
                            }">
                @if (discountProducts != null && discountProducts.Any())
                {
                    @foreach (var item in discountProducts)
                    {
                        <div class="product product-single row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical mb-0">
                                    <div class="product-single-carousel owl-carousel owl-theme owl-nav-inner row cols-1 gutter-no">
                                        <figure class="product-image">
                                            <img src="@(string.IsNullOrEmpty(item.ImageFilePath) ? "/Img_Dev/banner.png" : item.ImageFilePath)"
                                                 data-zoom-image="@(string.IsNullOrEmpty(item.ImageFilePath) ? "/Img_Dev/banner.png" : item.ImageFilePath)"
                                                 alt="Product Image" width="800" height="900" id="main-image-@(item.Id)" onerror="this.onerror=null;this.src='/Img_Dev/banner.png';">
                                        </figure>
                                    </div>
                                    <div class="product-thumbs-wrap">
                                        <div class="product-thumbs">
                                            @if (item.ProductImages.Any())
                                            {
                                                @foreach (var image in item.ProductImages.Select((img, index) => new { img, index }))
                                                {
                                                    <div class="product-thumb @(image.index == 0 ? "active" : "")" onclick="setActiveImage(this, '@(string.IsNullOrEmpty(image.img.ImageFilePath) ? "/Img_Dev/banner.png" : image.img.ImageFilePath)')">
                                                        <img src="@(string.IsNullOrEmpty(image.img.ImageFilePath) ? "/Img_Dev/banner.png" : image.img.ImageFilePath)"
                                                             onerror="this.onerror=null;this.src='/Img_Dev/banner.png';" alt="Product thumb" width="60" height="68" />
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="product-label-group">
                                        @if(item.Discount > 0)
                                        {
                                            <label class="product-label label-discount">- @item.Discount.ToString("N0")  </label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="product-details scrollable">
                                    <h2 class="product-title mb-1">
                                        <a href="/san-pham/@item.Id">
                                            @item.Name
                                        </a>
                                    </h2>

                                    <hr class="product-divider">
                                    <div class="product-price">
                                        <del class="old-price">@item.Price.ToString("N0") <span class="currency-symbol">đ</span></del>
                                        <ins class="new-price text-danger">@((item.Price - item.Discount).ToString("N0")) <span class="currency-symbol">đ</span></ins>
                                    </div>
                                    <div class="ratings-container">
                                        <div class="star-rating">
                                            @for (int i = 0; i < item.Rating; i++)
                                            {
                                                <span class="fa fa-star checked"></span>
                                            }
                                            @for (int i = 0; i < (5 - item.Rating); i++)
                                            {
                                                <span class="fa fa-star"></span>
                                            }

                                        </div>
                                    </div>

                                    <div class="product_des">
                                        <span class="no_wrap_3 fs-5">@item.Description</span>
                                    </div>

                                    <div class="product-form pt-4">
                                        <div class="product-qty-form mb-2 mr-2">
                                            <div class="input-group">
                                                <input class="quantity form-control" type="number" min="1"
                                                       max="10000000">
                                                <button class="quantity-plus w-icon-plus"></button>
                                                <button class="quantity-minus w-icon-minus"></button>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-cart">
                                            <i class="w-icon-cart"></i>
                                            <span>Xem thêm</span>
                                        </button>
                                    </div>

                                    <div class="social-links-wrapper mt-1">
                                        <div class="social-links">
                                            <div class="social-icons social-no-color border-thin">
                                                <a href="#"
                                                   class="social-icon social-facebook w-icon-facebook"></a>

                                            </div>
                                        </div>
                                        <span class="divider d-xs-show"></span>
                                        <div class="product-link-wrapper d-flex">
                                            <a href="#"
                                               class="btn-product-icon btn-wishlist w-icon-heart"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

                <!-- End of Product Single -->
            </div>
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="widget widget-products widget-products-bordered h-100">
            <div class="widget-body br-sm h-100">
                <h4 class="title-sm title-underline font-weight-bolder ls-normal mb-2">
                    Top sản phẩm bán chạy
                </h4>
                <div class="owl-carousel owl-theme owl-nav-top row cols-lg-1 cols-md-3"
                     data-owl-options="{
                                'nav': true,
                                'dots': false,
                                'margin': 20,
                                'responsive': {
                                    '0': {
                                        'items': 1
                                    },
                                    '576': {
                                        'items': 2
                                    },
                                    '768': {
                                        'items': 3
                                    },
                                    '992': {
                                        'items': 1
                                    }
                                }
                            }">
                    @if (hotProducts != null && hotProducts.Any())
                    {
                        var productChunks = hotProducts.Chunk(3); // Chia sản phẩm thành nhóm 3
                        foreach (var chunk in productChunks)
                        {
                            <div class="product-widget-wrap">
                                @foreach (var item in chunk)
                                {
                                    <div class="product product-widget bb-no">
                                        <figure class="product-media">
                                            <a href="/san-pham/@item.Id">
                                                <img src="@(string.IsNullOrEmpty(item.ImageFilePath) ? "/Img_Dev/banner.png" : item.ImageFilePath)"
                                                     alt="Product"
                                                     width="105" height="118"
                                                     onerror="this.onerror=null;this.src='/Img_Dev/banner.png';" />
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            <h4 class="product-name">
                                                <a href="/san-pham/@item.Id">@item.Name</a>
                                            </h4>
                                            <div class="ratings-container">
                                                <div class="star-rating">
                                                    @for (int i = 0; i < item.Rating; i++)
                                                    {
                                                        <span class="fa fa-star checked"></span>
                                                    }
                                                    @for (int i = 0; i < (5 - item.Rating); i++)
                                                    {
                                                        <span class="fa fa-star"></span>
                                                    }

                                                </div>
                                            </div>
                                            <div class="product-price">
                                                <del class="old-price fs-5">@item.Price.ToString("N0")  <span class="currency-symbol">đ</span>  </del>
                                                <del class="new-price text-danger fs-5">@((item.Price - item.Discount).ToString("N0")) <span class="currency-symbol">đ</span></del>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div> <!-- Kết thúc slide -->
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>